@charset "utf-8";
body{background-color:#1B1B1B}
h1{color:#8828A2}
.love:link {
	color: #E45E60;
}
.love:visited {
	color: #1B1B1B;
}
.love:hover {
	color: #FFFFFF;
}
.belief:link{
	color: #84D0D9;
}
.belief:visited{
	color: #1B1B1B;
}
.belief:hover{
	color: #000000;
}